name: Build & Deploy Docker App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      SERVER_IP: ${{ vars.SERVER_IP }}
      IMAGE_NAME: node-in-nginx
      App_Version: 1.0.0

    steps:
    # 1️⃣ Checkout code
    - name: Checkout repository
      uses: actions/checkout@v4

    # # 2️⃣ Login to Docker Hub
    - name: Docker Hub Login
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    # - name: Docker Hub Login
    #   run: |
    #     echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
    #       -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    # 3️⃣ Build Docker image
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE_NAME:$APP_VERSION .

    # 4️⃣ Push Docker image
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE_NAME:$APP_VERSION

    # 5️⃣ Configure SSH
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        chmod 700 ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        chmod 600 ~/.ssh/config

    # 6️⃣ Setup SSH key
    - name: Setup SSH Key
      run: |
        echo "${{ secrets.SSH_KEY64 }}" | base64 -d > myKey.pem
        chmod 400 myKey.pem
        ssh-keygen -R $SERVER_IP

    # 7️⃣ Deploy on EC2 (docker compose up)
    - name: Deploy on EC2
      run: |
        ssh -i myKey.pem ec2-user@$SERVER_IP << EOF
          export APP_VERSION="${{ env.APP_VERSION }}"
          export IMAGE_NAME="${{ env.IMAGE_NAME }}"
          export DOCKERHUB_USERNAME="${{ secrets.DOCKERHUB_USERNAME }}"

          docker pull \$DOCKERHUB_USERNAME/\$IMAGE_NAME:\$APP_VERSION

          cd /opt/app
          docker compose down
          docker compose up -d
        EOF

